<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lkl.mapper.UserMapper">

    <resultMap id="resultmap" type="com.lkl.entity.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="roleSet" ofType="com.lkl.entity.Role">
            <id property="rid" column="rid"/>
            <result property="name" column="result"/>
            <collection property="permissionSet" ofType="com.lkl.entity.Permission">
                <id property="pid" column="pid"/>
                <result property="name" column="name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="all">
        username
    </sql>

    <select id="findByUserName" parameterType="java.lang.String" resultMap="resultmap">
        select <include refid="all"/> from user where username = #{username}
    </select>

</mapper>