<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lkl.mapper.UserMapper">

    <resultMap id="userMap" type="com.lkl.entity.User">
        <id property="uid" column="uid"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="roles" ofType="com.lkl.entity.Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissions" ofType="com.lkl.entity.Permission">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <!--<sql id="all">-->
        <!--username,password,rname,pname,url-->
    <!--</sql>-->

    <select id="findByUserName" parameterType="java.lang.String" resultMap="userMap">
        select u.*,r.*,p.*
        from user u
        INNER JOIN user_role ur on ur.uid = u.uid
        INNER JOIN role r on ur.rid = r.rid
        INNER JOIN permission_role pr on r.rid = pr.rid
        INNER JOIN permission p on pr.pid = p.pid
        where u.username = #{username}
    </select>

</mapper>